/*
Darren & Nicole
Final Project
*/

#Background{
    background-color: lightblue;
    height: 100%;
    width: 100%;
}
#infoimagetop{
    width: 100%;
    height: 10%;

}
#infoHeaderPic{
    float: left;
    width: 100%;
    height: 20%;
    background-color: red;
    font-size: 20px;
}
#infoDivMid{
    float: left;
    width: 100px;
    height: 50px;
    background-color: aqua;
}
#infoHeader{
    text-align: center;
    background-color: rebeccapurple;
    font-size: 20px;
}
#infoBotTwo{
    text-align: center;
    background-color: lightsalmon;
    font-size: 20px;
    float: left;
}
