/*
Darren & Nicole
Final Project
*/

#Background{
    background-color: lightblue;
    height: 100%;
    width: 100%;
}
#infoHeaderPic{
    float: left;
    size: 100px;
}
#infoDivMid{
    float: right;
}
#infoHeader{
    padding: 10px;
    text-align: center;
    background: cyan;
    color: black;
    font-size: 20px;
    
    
}
