/*
Darren & Nicole
Final Project
*/

#Background{
    background-color: lightblue;
    height: 100%;
    width: 100%;
}
#Color_Template{

    background-color: #372823;
    background-color:  #a3b6bc;
    background-color: #f0913d;
    background-color:  #fde3c8;
    background-color:  #fef1e4;

}